# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
_tflow_select=2.3.0=mkl
abseil-cpp=20211102.0=hd4dd3e8_0
absl-py=2.1.0=py311h06a4308_0
addict=2.4.0=pypi_0
aiohttp=3.9.5=py311h5eee18b_0
aiosignal=1.2.0=pyhd3eb1b0_0
annotated-types=0.7.0=pypi_0
anyio=4.4.0=pypi_0
appdirs=1.4.4=pypi_0
argparse=1.4.0=pypi_0
asciitree=0.3.3=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
astunparse=1.6.3=py_0
atomicwrites=1.4.1=pypi_0
attrs=24.1.0=pypi_0
blas=1.0=mkl
blessed=1.20.0=pypi_0
blinker=1.6.2=py311h06a4308_0
blosc=1.11.2=pypi_0
blosc2=2.7.1=pypi_0
boltons=21.0.0=pypi_0
boto3=1.34.153=pypi_0
botocore=1.34.153=pypi_0
bqplot=0.12.43=pypi_0
brotli=1.1.0=pypi_0
bzip2=1.0.8=h5eee18b_6
c-ares=1.19.1=h5eee18b_0
ca-certificates=2024.7.2=h06a4308_0
cachetools=5.4.0=pypi_0
cattrs=23.2.3=pypi_0
caveclient=5.24.0=pypi_0
certifi=2024.7.4=py311h06a4308_0
cffi=1.16.0=py311h5eee18b_1
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=py311h06a4308_0
cloud-files=4.27.0=pypi_0
cloud-volume=10.2.2=pypi_0
cluster-tools=0.14.25=pypi_0
cmake=3.30.0=pypi_0
colorama=0.4.6=pypi_0
colorlog=6.8.2=pypi_0
colour=0.1.5=pypi_0
comm=0.2.2=pyhd8ed1ab_0
commonmark=0.9.1=pypi_0
compressed-segmentation=2.3.1=pypi_0
compresso=3.3.1=pypi_0
configargparse=1.7=pypi_0
connected-components-3d=3.18.0=pypi_0
contourpy=1.2.1=pypi_0
crackle-codec=0.14.0=pypi_0
crc32c=2.4.1=pypi_0
cryptography=41.0.3=py311h130f0dd_0
cycler=0.12.1=pypi_0
cython=3.0.10=py311h5eee18b_0
dash=2.17.1=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
dataclasses=0.6=pypi_0
datasci-stdlib-tools=1.0.1=pypi_0
dbscan=0.0.12=pypi_0
debugpy=1.6.7=py311h6a678d5_0
decorator=5.1.1=pyhd8ed1ab_0
deflate=0.7.0=pypi_0
dijkstra3d=1.15.1=pypi_0
dill=0.3.8=pypi_0
diskcache=5.6.3=pypi_0
dracopy=1.4.0=pypi_0
editor=1.6.6=pypi_0
edt=2.4.1=pypi_0
em-erl=0.1=pypi_0
em-util=0.1=pypi_0
embreex=2.17.7.post5=pypi_0
entrypoints=0.4=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_0
executing=2.0.1=pyhd8ed1ab_0
fafbseg=3.0.10=pypi_0
fasteners=0.19=pypi_0
fastjsonschema=2.20.0=pypi_0
fastremap=1.15.0=pypi_0
fill-voids=2.0.7=pypi_0
flask=3.0.3=pypi_0
flatbuffers=2.0.0=h2531618_0
flexcache=0.3=pypi_0
flexparser=0.3.1=pypi_0
fonttools=4.53.1=pypi_0
fpzip=1.2.4=pypi_0
frozenlist=1.4.0=py311h5eee18b_0
fsspec=2023.12.2=pypi_0
funlib-evaluate=0.1=pypi_0
fuzzywuzzy=0.18.0=pypi_0
gast=0.4.0=pyhd3eb1b0_0
gevent=24.2.1=pypi_0
giflib=5.2.1=h5eee18b_3
google-api-core=2.19.1=pypi_0
google-apitools=0.5.32=pypi_0
google-auth=2.32.0=pypi_0
google-auth-oauthlib=0.5.2=py311h06a4308_0
google-cloud-appengine-logging=1.4.4=pypi_0
google-cloud-audit-log=0.2.5=pypi_0
google-cloud-core=2.4.1=pypi_0
google-cloud-logging=3.10.0=pypi_0
google-cloud-storage=2.18.0=pypi_0
google-crc32c=1.5.0=pypi_0
google-pasta=0.2.0=pyhd3eb1b0_0
google-resumable-media=2.7.1=pypi_0
googleapis-common-protos=1.63.2=pypi_0
greenlet=3.0.3=pypi_0
grpc-cpp=1.48.2=h5bf31a4_0
grpc-google-iam-v1=0.13.1=pypi_0
grpcio=1.65.1=pypi_0
grpcio-status=1.62.2=pypi_0
h11=0.14.0=pypi_0
h5py=3.11.0=py311h865a13c_0
hdf5=1.12.1=h70be1eb_2
httpcore=0.17.3=pypi_0
httplib2=0.22.0=pypi_0
httpx=0.24.1=pypi_0
icu=58.2=he6710b0_3
idna=3.7=py311h06a4308_0
igneous-pipeline=4.25.0=pypi_0
igraph=0.11.6=pypi_0
imagecodecs=2024.6.1=pypi_0
imageio=2.34.2=pypi_0
imageryclient=1.0.4=pypi_0
importlib-metadata=8.0.0=pyha770c72_0
importlib_metadata=8.0.0=hd8ed1ab_0
inflection=0.5.1=pypi_0
iniconfig=2.0.0=pypi_0
inquirer=3.4.0=pypi_0
intel-openmp=2023.1.0=hdb19cb5_46306
intern=1.4.1=pypi_0
ipydatawidgets=4.3.5=pypi_0
ipykernel=6.29.5=pyh3099207_0
ipython=8.26.0=pyh707e725_0
ipython-genutils=0.2.0=pypi_0
ipyvolume=0.6.3=pypi_0
ipyvue=1.11.1=pypi_0
ipyvuetify=1.10.0=pypi_0
ipywebrtc=0.6.0=pypi_0
ipywidgets=8.1.3=pypi_0
itsdangerous=2.2.0=pypi_0
jax=0.4.30=pypi_0
jaxlib=0.4.30=pypi_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.4=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
jpeg=9e=h5eee18b_1
jpype1=1.5.0=pypi_0
json5=0.9.25=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter_client=8.6.2=pyhd8ed1ab_0
jupyter_core=5.7.2=py311h38be061_0
jupyterlab-widgets=3.0.11=pypi_0
keras=2.12.0=py311h06a4308_0
keras-preprocessing=1.1.2=pyhd3eb1b0_0
kimimaro=4.0.1=pypi_0
kiwisolver=1.4.5=pypi_0
krb5=1.20.1=h568e23c_1
lazy-loader=0.4=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libclang=18.1.1=pypi_0
libcurl=8.2.1=h91b91d3_0
libedit=3.1.20230828=h5eee18b_0
libev=4.33=h7f8727e_1
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgfortran-ng=11.2.0=h00389a5_1
libgfortran5=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libnghttp2=1.52.0=ha637b67_1
libpng=1.6.39=h5eee18b_0
libprotobuf=3.20.3=he621ea3_0
libsodium=1.0.18=h36c2ea0_1
libssh2=1.10.0=h37d81fd_2
libstdcxx-ng=11.2.0=h1234567_1
libuuid=1.41.5=h5eee18b_0
llvmlite=0.43.0=pypi_0
loxun=2.0=pypi_0
lxml=5.2.2=pypi_0
machine-learning-tools=1.0.0=pypi_0
manifold3d=2.5.1=pypi_0
mapbuffer=1.0.0=pypi_0
markdown=3.6=pypi_0
markupsafe=2.1.3=py311h5eee18b_0
matplotlib=3.9.0=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mesh-processing-tools=1.0.3=pypi_0
meshparty=1.16.14=pypi_0
microviewer=1.8.0=pypi_0
mkl=2023.1.0=h213fc3f_46344
mkl-service=2.4.0=py311h5eee18b_1
mkl_fft=1.3.8=py311h5eee18b_0
mkl_random=1.2.4=py311hdb19cb5_0
ml-dtypes=0.4.0=pypi_0
modin=0.31.0=pypi_0
molesq=0.4.0=pypi_0
morphops=0.1.13=pypi_0
msgpack=1.0.8=pypi_0
multidict=6.0.4=py311h5eee18b_0
multiprocess=0.70.16=pypi_0
multiwrapper=0.1.1=pypi_0
natsort=6.2.1=pypi_0
navis=1.7.0=pypi_0
nbformat=5.10.4=pypi_0
ncollpyde=0.19.0=pypi_0
ncurses=6.4=h6a678d5_0
ndindex=1.8=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
networkx=2.8.8=pypi_0
neuroglancer=2.40.1=pypi_0
nose2=0.15.1=pypi_0
nptyping=2.5.0=pypi_0
numba=0.60.0=pypi_0
numcodecs=0.11.0=pypi_0
numexpr=2.10.1=pypi_0
numpy=1.23.5=py311h08b1b3b_1
numpy-base=1.23.5=py311hf175353_1
oauth2client=4.1.3=pypi_0
oauthlib=3.2.2=py311h06a4308_0
open3d=0.18.0=pypi_0
openssl=1.1.1w=h7f8727e_0
opt_einsum=3.3.0=pyhd3eb1b0_1
orjson=3.10.6=pypi_0
packaging=24.1=py311h06a4308_0
pandas=2.2.2=pypi_0
pandasql=0.7.3=pypi_0
parso=0.8.4=pyhd8ed1ab_0
pathos=0.3.2=pypi_0
patsy=0.5.6=pypi_0
pbr=6.0.0=pypi_0
pexpect=4.9.0=pyhd8ed1ab_0
pickleshare=0.7.5=py_1003
pillow=10.4.0=pypi_0
pims=0.6.1=pypi_0
pint=0.24.3=pypi_0
pip=24.0=py311h06a4308_0
platformdirs=4.2.2=pyhd8ed1ab_0
plotly=5.23.0=pypi_0
pluggy=1.5.0=pypi_0
plyfile=1.1=pypi_0
pooch=1.8.2=pypi_0
posix-ipc=1.1.1=pypi_0
pox=0.3.4=pypi_0
ppft=1.7.6.8=pypi_0
prompt-toolkit=3.0.47=pyha770c72_0
proto-plus=1.24.0=pypi_0
protobuf=4.25.0=pypi_0
psutil=6.0.0=pypi_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure-eval=0.2.3=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyarrow=17.0.0=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pybind11=2.13.1=pypi_0
pybind11-abi=4=hd3eb1b0_1
pycollada=0.8=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pydantic=2.8.2=pypi_0
pydantic-core=2.20.1=pypi_0
pydot=3.0.1=pypi_0
pyfqmr=0.2.0=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pyjwt=2.8.0=py311h06a4308_0
pykdtree=1.3.12=pypi_0
pylibczirw=3.5.2=pypi_0
pymesh=1.0.2=pypi_0
pymeshfix=0.17.0=pypi_0
pynndescent=0.5.13=pypi_0
pynrrd=1.0.0=pypi_0
pyopenssl=23.2.0=py311h06a4308_0
pyparsing=3.1.2=pypi_0
pyperclip=1.9.0=pypi_0
pypng=0.20220715.0=pypi_0
pyquaternion=0.9.9=pypi_0
pysimdjson=6.0.2=pypi_0
pysocks=1.7.1=py311h06a4308_0
pyspng-seunglab=1.1.2=pypi_0
pytest=8.3.2=pypi_0
python=3.11.5=h7a1cb2a_0
python-catmaid=2.4.0=pypi_0
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=0.19.2=pypi_0
python-flatbuffers=2.0=pyhd3eb1b0_0
python-graphviz=0.20.3=pypi_0
python-jsonschema-objects=0.5.5=pypi_0
python_abi=3.11=2_cp311
pythreejs=2.4.2=pypi_0
pytz=2024.1=pypi_0
pyvista=0.44.1=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=25.1.2=py311h6a678d5_0
rdata=0.11.2=pypi_0
re2=2022.04.01=h295c915_0
readchar=4.2.0=pypi_0
readline=8.2=h5eee18b_0
referencing=0.35.1=pypi_0
regex=2024.7.24=pypi_0
requests=2.32.3=pypi_0
requests-futures=1.0.1=pypi_0
requests-oauthlib=2.0.0=py311h06a4308_0
retrying=1.3.4=pypi_0
rich=10.16.2=pypi_0
rpds-py=0.19.1=pypi_0
rsa=4.9=pypi_0
rtree=1.3.0=pypi_0
runs=1.2.2=pypi_0
s3transfer=0.10.2=pypi_0
scikit-image=0.24.0=pypi_0
scikit-learn=1.5.1=pypi_0
scipy=1.14.0=pypi_0
scooby=0.10.0=pypi_0
seaborn=0.13.2=pypi_0
setuptools=72.1.0=pypi_0
shapely=2.0.5=pypi_0
shard-computer=1.2.1=pypi_0
shellingham=1.5.4=pypi_0
simplejpeg=1.7.4=pypi_0
six=1.16.0=pyhd3eb1b0_1
skeletor=1.3.0=pypi_0
slicerator=1.1.0=pypi_0
snappy=1.1.10=h6a678d5_1
sniffio=1.3.1=pypi_0
sqlalchemy=2.0.32=pypi_0
sqlite=3.45.3=h5eee18b_0
stack-data=0.6.3=pypi_0
statsmodels=0.14.2=pypi_0
svg-path=6.3=pypi_0
tables=3.9.2=pypi_0
task-queue=2.14.0=pypi_0
tbb=2021.8.0=hdb19cb5_0
tenacity=9.0.0=pypi_0
tensorboard=2.12.1=py311h06a4308_0
tensorboard-data-server=0.7.0=py311h52d8a92_0
tensorboard-plugin-wit=1.6.0=py_0
tensorflow=2.12.0=mkl_py311h34a0fa1_0
tensorflow-base=2.12.0=mkl_py311he5f8e37_0
tensorflow-estimator=2.12.0=py311h06a4308_0
tensorflow-io-gcs-filesystem=0.37.1=pypi_0
termcolor=2.1.0=py311h06a4308_0
texttable=1.7.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tifffile=2024.7.24=pypi_0
tinybrain=1.6.0=pypi_0
tk=8.6.14=h39e8969_0
tornado=6.4.1=py311h5eee18b_0
tqdm=4.66.5=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
traittypes=0.2.1=pypi_0
trimesh=4.4.3=pypi_0
typer=0.12.3=pypi_0
typing-extensions=4.12.2=pypi_0
tzdata=2024.1=pypi_0
umap-learn=0.5.6=pypi_0
universal-pathlib=0.1.3=pypi_0
urllib3=2.2.2=py311h06a4308_0
vhacdx=0.0.8.post1=pypi_0
vtk=9.3.1=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
webcolors=24.6.0=pypi_0
werkzeug=3.0.3=py311h06a4308_0
wheel=0.43.0=py311h06a4308_0
widgetsnbextension=4.0.11=pypi_0
wkw=1.1.22=pypi_0
wrapt=1.14.1=py311h5eee18b_0
xarray=2024.7.0=pypi_0
xatlas=0.0.9=pypi_0
xmltodict=0.13.0=pypi_0
xmod=1.8.1=pypi_0
xs3d=1.7.1=pypi_0
xxhash=3.4.1=pypi_0
xz=5.4.6=h5eee18b_1
yarl=1.9.3=py311h5eee18b_0
zarr=2.18.2=pypi_0
zarrita=0.2.2=pypi_0
zeromq=4.3.5=h6a678d5_0
zfpc=0.1.2=pypi_0
zfpy=1.0.0=pypi_0
zipp=3.19.2=pyhd8ed1ab_0
zlib=1.2.13=h5eee18b_1
zmesh=1.7.1=pypi_0
zope-event=5.0=pypi_0
zope-interface=6.4.post2=pypi_0
zstandard=0.21.0=pypi_0
